@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span,
div,
label {
  @apply text-[#3d4048] dark:text-sun;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
